<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>15531941648-iuo36c9on7ole9kgedo1ks8o8h8sslsi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.15531941648-iuo36c9on7ole9kgedo1ks8o8h8sslsi</string>
	<key>API_KEY</key>
	<string>AIzaSyBdBce2VFTLupQGzbfqqwfXVqe0T4NhJg4</string>
	<key>GCM_SENDER_ID</key>
	<string>15531941648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ahenemaunited</string>
	<key>PROJECT_ID</key>
	<string>ahenema-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>ahenema-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:15531941648:ios:6df60298fe947001998f95</string>
	<key>DATABASE_URL</key>
	<string>https://ahenema-dev-default-rtdb.firebaseio.com</string>
</dict>
</plist>